body
  {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sanf-serif;
  }
  .is
  {
  width: 1000px;
  height: 500px;
  }
  
  .admin-box
  {
  width: 480px;
  height: 400px;
  background: rgba(0, 0, 0,0.4);
  color:#fff;
  top: 17%;
  left: 38%;
  position: absolute;
  transform: transform(-40%,-50%);
  box-sizing: border-box;
  padding: 65px 58px;
  }
   h2
  {
	margin: 0;
    padding: 0 0 19px;  
    text-align: center;
	font-size: 35px;
  }
  .admin-box p{
    margin: 0;
    padding: 0;  
	font-weight: bold;
  }
  .admin-box input{
	  width: 100%;
	  margin-bottom: 35px;
  }
  
  .admin-box input[type="text"], input[type="password"]
  {
	  border: none;
	  border-bottom: 1px solid #fff;
	  outline: none;
	  height:22px
	  color: #000;
	  font-size: 15px;  
  }
  .admin-box input[type="submit"]
  {
	  border: none;
	  outline: none;
      height: 40px;
	  background: #1c8abc;
	  color: #fff;
	  font-size: 22px;
	  border-radius: 28px;  
  }
   .admin-box input[type="submit"]:hover
  {
   cursor: pointer;
   background: #39dc79;
   color: #fff;
  }
  }
  